#build file for docker.  Update values as needed.  Came from https://github.com/lobradov/docker-multiarch-builder.git
# this has a good process for getting the qemu images, these are stored in the qemu dir. https://lobradov.github.io/Building-docker-multiarch-images/
#Docker Registry to oush the images to (I use a local one)
REPO=""
IMAGE_NAME="paradoxip"
IMAGE_VERSION="2.0.8"

#this is the special version fo the docker cli with manifest support, or add experimental support https://docs.docker.com/edge/engine/reference/commandline/manifest/
DOCKER_CLI_PATH="/src/docker-multiarch-builder/cli/build/"

#Architectures to support.  Needs teh appropriate qemu files.
TARGET_ARCHES="amd64 arm32v7 arm64v8"
